<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody id="lists-items">
		<% products.forEach(({name, id}) => { %>
			<tr id="list-<%= id %>" >
				<td><%= name %></td>
				<td>
					<a href="/lists/<%= id %>">Edit</a>
				</td>
			</tr>
		<% }); %>
	</tbody>
</table>
