<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="color-scheme" content="light dark">
	<link rel="stylesheet" href="/css/pico.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/html5-boilerplate@9.0.1/dist/css/style.min.css">
	<script src="/js/app.js" defer></script>
</head>
