<html lang="en">
	<head>
		<%- include('_head', {title}) %>
	</head>
	<body class="container" hx-boost="true">
		<%- include('_header') %>
		<%- body %>
        <%- include('_footer') %>
	</body>
</html>
