<html>
	<%- include('_head', {title: "Grocery List"}) %>
	<body class="container">
		<h1>Error</h1>
		<p>Oops! Something went wrong.</p>
		<p>Our team has been notified and is working to resolve the issue.</p>
	</body>
</html>
