# fly.toml app configuration file generated for groceries-app on 2025-11-20T19:58:47+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'groceries-app'
primary_region = 'syd'

[build]
  dockerfile = "Dockerfile"

[env]
  HOST = '0.0.0.0'
  NODE_ENV = 'production'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '10s'
    grace_period = '30s'
    method = 'GET'
    path = '/'

[[vm]]
  size = 'shared-cpu-1x'
